<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jy.mapper.BoardMapper">
	<insert id="insert" parameterType="com.jy.domain.board.BoardDto">
		<![CDATA[
			INSERT INTO tbl_board (
				nickname, 
				password,
				title,
				contents,
				created_datetime
			)
			VALUES (
				#{nickname}, 
				#{password},
				#{title},
				#{contents},
				NOW()
			)
		]]>
	</insert>
	
	<select id="getList" resultType="com.jy.domain.board.BoardDto">
		<![CDATA[
			SELECT * FROM tbl_board WHERE bno > 0			
		]]>
	</select>
	
	<select id="read" parameterType="int" resultType="com.jy.domain.board.BoardDto">
		<![CDATA[
			SELECT bno, nickname, title, contents, hit_cnt, created_datetime, updated_datetime			
			FROM tbl_board 
			WHERE bno = #{bno}			
		]]>
	</select>
	
	
	<delete id="delete" parameterType="int">
		<![CDATA[
			DELETE FROM tbl_board
			WHERE bno = #{bno} 
		]]>
	</delete>
	
	<update id="update" parameterType="com.jy.domain.board.BoardDto">
		<![CDATA[
			UPDATE tbl_board
			SET nickname = #{nickname},
				password = #{password},
				title = #{title},
				contents = #{contents},
				updated_datetime = now()
			WHERE bno = #{bno}
		]]>
	</update>
	
</mapper> 