<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jy.mapper.BoardMapper">
	<insert id="insert" parameterType="com.jy.domain.board.BoardDto">
		<![CDATA[
			INSERT INTO tbl_board (
				nickname, 
				password,
				title,
				contents,
				salt,
				created_datetime
			)
			VALUES (
				#{nickname}, 
				#{password},
				#{title},
				#{contents},
				#{salt},
				NOW()
			)
		]]>
	</insert>
	
	<select id="getList" resultType="com.jy.domain.board.BoardDto" parameterType="int">
		<![CDATA[
			SELECT *
			FROM tbl_board as p
			JOIN (SELECT bno 
			    FROM   tbl_board
			    ORDER  BY bno DESC LIMIT #{offset}, 10) AS t ON t.bno = p.bno; 			
		]]>
	</select>
	
	<select id="read" parameterType="int" resultType="com.jy.domain.board.BoardDto">
		<![CDATA[
			SELECT bno, nickname, title, contents, salt, hit_cnt, created_datetime, password			
			FROM tbl_board 
			WHERE bno = #{bno}			
		]]>
	</select>
	
	
	<delete id="delete" parameterType="int">
		<![CDATA[
			DELETE FROM tbl_board
			WHERE bno = #{bno} 
		]]>
	</delete>
	
	<update id="update" parameterType="com.jy.domain.board.BoardDto">
		<![CDATA[
			UPDATE tbl_board
			SET title = #{title}, contents = #{contents}
			WHERE bno = #{bno}
		]]>
	</update>
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			SELECT count(*) from tbl_board where bno > 0
		]]>
	</select>
	
	<update id="increase_hitCnt" parameterType="int">
		<![CDATA[
		    UPDATE tbl_board
		    SET hit_cnt = hit_cnt + 1
		    WHERE bno = #{bno};
		]]>
	</update>
	
</mapper> 