<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE = edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="ContentTye" content="text/html; charset=utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<style type="text/css">
@import
	url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
</style>

<title>유기동물 검색</title>
</head>
<body>
	<div class="container-fluid d-flex flex-column min-vh-100">

	
		<!-- Header -->
		<div class="sticky-top">
			<div th:insert="~{fragments/header::header}"></div>
		</div>
		<!-- /Header -->		
		
		<!-- Main Row -->
		<div id="main_row" class="main-row row p-3" style="min-height: 81vh;">
			<div class="col-xl-7 d-flex align-items-center justify-content-center">
				<a th:href="${result.popfile}" target="_blank"><img th:src="${result.popfile}" class="img-thumbnail w-100"></a>
			</div>
			
			
			<div class="col-xl-5 d-flex align-items-center min-vh-100 py-3">
				<ul>
					<li class="h6 p-1">나이 : <span class="font-weight-bold">[[${result.age}]]</span></li>
					<li class="h6 p-1">품종 : <span class="font-weight-bold">[[${result.kindCd}]]</span></li>
					<li class="h6 p-1">색상 : <span class="font-weight-bold">[[${result.colorCd}]]</span></li>
					<li class="h6 p-1">체중 : <span class="font-weight-bold">[[${result.weight}]]</span></li>
					<li class="h6 p-1">성별 : <span class="font-weight-bold">[[${result.sexCd}]]</span></li>
					<li class="h6 p-1">중성화 여부 : <span class="font-weight-bold">[[${result.neuterYn}]]</span></li>
					<li class="h6 p-1">특징 : <span class="font-weight-bold">[[${result.specialMark}]]</span></li>
					<li class="h6 p-1">접수일 : <span class="font-weight-bold">[[${result.happenDt}]]</span></li>
					<li class="h6 p-1">발견장소 : <span class="font-weight-bold">[[${result.happenPlace}]]</span></li>
					<li class="h6 p-1">유기번호 : <span class="font-weight-bold">[[${result.desertionNo}]]</span></li>
					<li class="h6 p-1">상태 : <span class="font-weight-bold">[[${result.processState}]]</span></li>
					<li class="h6 p-1">공고번호 : <span class="font-weight-bold">[[${result.noticeNo}]]</span></li>
					<li class="h6 p-1">공고 시작일 : <span class="font-weight-bold">[[${#temporals.createDate(result.noticeSdt, 'yyyyMMdd')}]]</span></li>
					<li class="h6 p-1">공고 종료일 : <span class="font-weight-bold">[[${#temporals.createDate(result.noticeEdt, 'yyyyMMdd')}]]</span></li>
					<li class="h6 p-1">보호소 이름 : <span class="font-weight-bold">[[${result.careNm}]]</span></li>
					<li class="h6 p-1">보호소 전화번호 : <span class="font-weight-bold">[[${result.careTel}]]</span></li>
					<li class="h6 p-1">보호장소 : <span class="font-weight-bold">[[${result.careAddr}]]</span></li>
					<li class="h6 p-1">관할기관 : <span class="font-weight-bold">[[${result.orgNm}]]</span></li>
					<li class="h6 p-1">담당자 : <span class="font-weight-bold">[[${result.chargeNm}]]</span></li>
					<li class="h6 p-1">담당자 연락처 : <span class="font-weight-bold">[[${result.officetel}]]</span></li>
				</ul>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.Main Row -->

		<!-- Footer -->
		<div th:insert="~{fragments/footer::footer}"></div>
		<!-- /Footer -->
	</div>
	<!-- /.Container -->

	<!-- Boot Strap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
</body>
</html>
