<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE = edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="ContentTye" content="text/html; charset=utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<style type="text/css">
@import
	url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
</style>

<title>유기동물 검색</title>
</head>
<body>
	<div class="container-fluid d-flex flex-column min-vh-100">

	
		<!-- Header -->
		<div class="sticky-top">
			<div th:insert="~{fragments/header::header}"></div>
		</div>
		<!-- /Header -->		
		
		<div class="row">
			<div class="col text-center mt-3">
				<h1 style="font-family: 'Do Hyeon', sans-serif;">오늘 구조된 유기동물 : <span id="totalCount" class="count-num font-weight-bold" style="color: #fc4444;" th:text="${result.totalCount}">0</span> 마리</h1>
			</div>
		</div>

		<!-- Main Row -->
		<div id="main_row" class="main-row row p-3" 
			style="min-height: 81vh;">

			<div class="col d-flex justify-content-center">

				<!-- Left Button -->				
				<div class="align-self-center">
					<a id="left_btn" href="#"><i class="fa fa-chevron-left fa-3x"></i></a>
				</div>
				<!--/.Left Button-->

				<!--  Cards Row -->
				<div id="card_row" class="row mx-3 d-flex align-items-center justify-content-center">

					<!-- Card Column -->
					<div class="col-xl-6"> 
						<!-- card -->
						<div class="card mb-2"
							style="min-width: 18rem; background-color: #FAFAD2;">
							<div class="row no-gutters">
								<div id="card_img" class="col-md-4 d-flex align-items-center justify-content-center">
									<img class="card-img img-thumbnail" alt="이미지 출력 불가">
								</div>
								<div class="col-md-8 d-flex align-items-center">
									<div class="card-body">
										<ul id="card_info">
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /.card -->
						
					</div>
					<!-- /.Card Column -->
					
				</div>
				<!-- Cards Rows -->
				
				<!-- Right Button -->
				<div class="align-self-center">
					<a id="right_btn" href="#"><i class="fa fa-chevron-right fa-3x"></i></a>
				</div>
				<!-- /Right Button -->

			</div>
			<!-- /.col -->
		</div>
		<!-- /.Main Row -->

		<!-- Footer -->
		<div th:insert="~{fragments/footer::footer}"></div>
		
		<!-- hidden input for info -->
		<input type="hidden" id="pageNo" name="pageNo" th:value="${result.pageNo}">
		<!-- /hidden input -->
		
	</div>
	<!-- /.Container -->

	<!-- Boot Strap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

	<!-- Count up Animation js -->	
 	 <script th:src="@{/js/jquery.rcounterup.js}" type="text/javascript"></script>
	<script th:src="@{/js/countup.js}" type="text/javascript"></script>
 	<!-- /Count up Animation js-->
 	
 	<!-- 유기동물 리스트 출력 함수 -->
 	<script th:src="@{/js/printToday.js}" type="text/javascript"></script>
 	<!-- /.PrintList -->
 	
 	
	<script th:inline="javascript">
	$(document).ready(function() {
		
		var currentPageTag = $("#pageNo");	// 현재 보고 있는 페이지 번호를 가진 input Tag
		var result = [[${result}]];	// 현재 페이지의 아이템 목록
		
		if(result.totalCount == 0) {
			alert("오늘 유기된 동물이 없습니다!");
		} else {
			printList(result);
			countUp();
		}
		
		$("#left_btn").on("click", function(e) {
			e.preventDefault();
			var prevPage = parseInt(currentPageTag.val()) - 1;
			
			$.getJSON("/api/today/" + prevPage, function(result, textStatus, req) {
					currentPageTag.val(prevPage);
					console.log(prevPage + "페이지 요청 성공");
					printList(result);
			});
			
		});
		
		
		$("#right_btn").on("click", function(e) {
			e.preventDefault();
			var nextPage = parseInt(currentPageTag.val()) + 1;
			
			$.getJSON("/api/today/" + nextPage, function(result, textStatus, req) {
				currentPageTag.val(nextPage);
				console.log(nextPage + "페이지 요청 성공");
				printList(result);
			});
		});
		
	});
	
	</script>
</body>
</html>
