<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE = edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="ContentTye" content="text/html; charset=utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<style type="text/css">
@import
	url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
</style>

<title>유기동물 검색</title>
</head>
<body>
	<div class="container-fluid d-flex flex-column min-vh-100">

	
		<!-- Header -->
		<div class="sticky-top">
			<div th:insert="~{fragments/header::header}"></div>
		</div>
		<!-- /Header -->		
		
		<div class="row">
			<div class="col text-center mt-3">
				<h1 style="font-family: 'Do Hyeon', sans-serif;">검색 결과 : <span id="totalCount" class="count-num font-weight-bold" style="color: #fc4444;" th:text="${result.totalCount}">0</span> 마리</h1>
			</div>
		</div>

		<!-- Main Row -->
		<div id="main_row" class="row p-3 d-flex justify-content-center align-items-center flex-row" style="min-height: 81vh;">
		
			<div class="col-12 table-responsive">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th></th>
							<th>나이</th>
							<th>품종</th>
							<th>체중</th>
							<th>성별</th>
							<th>중성화</th>
							<th>특징</th>
							<th>발견날짜</th>
							<th>발견장소</th>
							<th>상태</th>
						</tr>
					</thead>
					<tbody id="tbody">
					</tbody>
				</table>
			</div>
			<!-- /col -->
			
		</div>
		<!-- /.Main Row -->
		
		<!-- paging 영역 -->
		<div class="col d-flex justify-content-center">
			<ul id="pagination" class="pagination">
				<li class="page-item"><a class="page-link" href="#"	aria-label="Previous"> &laquo;</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#"	aria-label="Next"> &raquo; 
				</a></li>
			</ul>
		</div>
		<!-- /.Paging -->	
	
		<!-- Footer -->
		<div th:insert="~{fragments/footer::footer}"></div>
		
		<!-- hidden input for info -->
		<input type="hidden" id="pageNo" name="pageNo" th:value="${result.pageNo}">
		<input type="hidden" id="endPage" name="endPage" th:value="${result.endPage}">
		
		<input type="hidden" id="bgnde" name="bgnde" th:value="${bgnde}">
		<input type="hidden" id="endde" name="endde" th:value="${endde}">
		<input type="hidden" id="upkind" name="upkind" th:value="${upkind}">
		<input type="hidden" id="kind" name="kind" th:value="${kind}">
		<input type="hidden" id="upr_cd" name="upr_cd" th:value="${upr_cd}">
		<input type="hidden" id="org_cd" name="org_cd" th:value="${org_cd}">
		<input type="hidden" id="shelter" name="shelter" th:value="${shelter}">
		<input type="hidden" id="state" name="state" th:value="${state}">
		<input type="hidden" id="neuter_yn" name="neuter_yn" th:value="${neuter_yn}">
		<!-- /hidden input -->
		
	</div>
	<!-- /.Container -->

	<!-- Boot Strap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

	<!-- Count up Animation js -->	
 	 <script th:src="@{/js/jquery.rcounterup.js}" type="text/javascript"></script>
	 <script th:src="@{/js/countup.js}" type="text/javascript"></script>
 	<!-- /Count up Animation js-->
 	
 	<!-- 테이블 출력 함수 -->
 	<script th:src="@{/js/printTable.js}" type="text/javascript"></script>
 	<!-- /printTable -->
 	
 	<!-- api 요청 URI 반환 함수  -->
 	<script th:src="@{/js/getURI.js}" type="text/javascript"></script>
 	<!-- /printTable -->
 	
 	<!-- Pagination 출력 함수  -->
 	<script th:inline="javascript">
	 	function makePagination() {
			var currentPage = parseInt($("#pageNo").val());
			var endPage = parseInt($("#endPage").val());
			var current_end_page = Math.ceil(currentPage/10.0) * 10;
			var starPage = current_end_page - 9;
			var prev = [[${result.prev}]];
			var next = [[${result.next}]];
			
			// 현재 보고 있는 페이지의 끝 보다 전체 페이지의 끝이 더 작으면 현재 페이지의 끝을 전체 페이지의 끝으로 갱신
			if(endPage < current_end_page) {
				current_end_page = endPage;
			}
			
			console.log("현재 페이지 : " + currentPage);
			console.log("마지막 페이지 : " + endPage);
			console.log("현재 쪽의  마지막 페이지 : " + current_end_page);
			console.log("현재 쪽의  시작 페이지 : " + starPage);
			
			var li = '';
			
			// prev가 true라면
			if(starPage != 1) {
				li += '<li class="page-item"><a class="page-link" href="'+ (currentPage-1) + '">&laquo;</a></li>'
			}
			
			for(var i = starPage; i <= current_end_page; i++) {
				
				if(i == currentPage) {
					li += '<li class="page-item active"><a class="page-link" href="'+ i + '">' + i + '</a></li>';
				} else {
					li += '<li class="page-item"><a class="page-link" href="'+ i + '">' + i + '</a></li>';
				}
			}
			
			// next가 true라면
			if(current_end_page != endPage) {
				li += '<li class="page-item"><a class="page-link" href="'+ (current_end_page+1) + '">&raquo;</a></li>'
			}
			
			$("#pagination").html(li);
		}
 	</script>
 	<!-- /makePagination -->
 	
	<script th:inline="javascript">
	$(document).ready(function() {
		
		var result = [[${result}]];
		
		if(result.totalCount == 0) {
			alert("검색 결과에 해당하는 동물이 없습니다!");
		} else {
			printTable(result.petList);
			makePagination();
		}
	});
	</script>
</body>
</html>


