<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE = edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="ContentTye" content="text/html; charset=utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<!-- Font CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/CSS/font.css}">
<!-- /Font CSS -->


<title>유기동물 검색</title>
</head>
<body>
	<div class="container-fluid d-flex flex-column min-vh-100">

	
		<!-- Header -->
		<div class="sticky-top">
			<div th:insert="~{fragments/header::header}"></div>
		</div>
		<!-- /Header -->		

		<!-- Main Row -->
		<div id="main_row" class="row p-3 d-flex justify-content-center flex-row min-vh-100">
			<!--  Board row -->
			<div class="row w-100 justify-content-center align-self-center">
				<div class="col-md-10 col-lg-8">
					<div class="card">
						<div class="card-header">
							<div class="d-inline">
								<span class="font-weight-bold h4">게시글 조회</span>
							</div>
							<div class="d-inline float-right">
								<!-- Button trigger modal -->
								<button type="button" id="btn_modify" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">수정하기</button>
								<button type="button" id="btn_remove" class="btn btn-danger btn-sm" data-toggle="modal"	data-target="#myModal">삭제</button>
							</div>
						</div>
						
						<div class="card-body">
							<div class="row">
								<div class="col">
									<span class="font-weight-bold float-left" id="title" th:text="${board.title}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="d-md-inline float-md-left">
										
										<span th:text="${board.nickname}" class="mr-1"></span> | 
										<span th:text="${#temporals.format(board.created_datetime, 'yyyy-MM-dd HH:mm')}" class="ml-1"></span>
										
									</div>
									<div class="d-md-inline float-md-right">
										조회수&nbsp; <span th:text="${board.hit_cnt}" class="mr-1"></span>
										| 댓글&nbsp; <span th:text="${board.hit_cnt}"></span>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col">
									<hr>
									<p th:text="${board.contents}">
								</div>
							
							</div>
							
						</div>
						<!-- /.card body -->
					</div>
					<!-- card -->
				</div>
				
			<!-- Board-->
			 </div>
			 <!-- board row -->
			 
			 <!--  Replies -->
			<div class="row m-2 w-100 justify-content-center align-self-start mt-0" id="replyArea">	
				
				<!-- Reply -->
				<div class="row  d-flex justify-content-center mt-1 mb-1 w-100" >
					<div class="col-md-10 col-lg-8 bg-warning w-100">
						<div class="card bg-primary">
							<div class="card-body row align-items-center">
								<!-- reply nickname & datetime -->
								<div class="col-12 col-xl-3  mb-1 mb-xl-0 ">
									<span class="mr-1 font-weight-bold d-xl-block">닉네임</span> 
									<span th:text="${#temporals.format(board.created_datetime, '(MM-dd HH:mm:ss)')}" class="ml-1 d-xl-block"></span>
								</div >
								<!-- /reply nickname & datetime -->
								<hr>
								
								<!-- reply contents -->	
								<div class="col-12 col-xl-7">
									<p> 댓글 내용</p>
								</div>
								<!-- /reply contents -->
								
								<!-- reply modify & delete -->
								<div class="col-12 col-xl-2">
									<div class="w-100 justify-content-center d-flex">
										<!-- Button trigger modal -->
										<button type="button" id="btn_modify" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">수정</button>
										<button type="button" id="btn_remove" class="btn btn-danger btn-sm ml-1" data-toggle="modal"	data-target="#myModal">삭제</button>
									</div>
								</div>
								<!-- /reply contents -->
								
							</div>
							<!-- /.card body -->
						</div>
						<!-- card -->
					</div>
				</div>
				<!-- /reply -->
				
			 </div>
			 <!-- Replies -->
			 
			 <!--  Replie Register Area -->
			<div class="row w-100 justify-content-center">
				<div class="col-12"><hr></div>
				<div class="col-md-10 col-lg-8">
					<div class="card">
						<div class="card-header">
							<div class="d-inline">
								<span class="font-weight-bold h4">댓글 작성</span>
							</div>
							<div class="d-inline float-right">
								<!-- Button trigger modal -->
								<button type="button" id="btn_registerReply" class="btn btn-primary btn-sm">등록</button>
							</div>
						</div>
						<div class="card-body row">
							<!-- reply nickname & password -->
							<div class="col-sm-4 col-md-3 col-xl-2 col-12">
								<form>
									<div class="form-group">
										<input type="text" id="reply_nickname" name="reply_nickname" required="required" maxlength="10" placeholder="닉네임" class="form-control mb-2">
										<input type="password" id="reply_password" name="reply_password" required="required" maxlength="4" minlength="4" placeholder="비밀번호" class="form-control">
									</div>
										
								</form>
							</div >
							<!-- /reply nickname & password -->
							
							<!-- reply contents -->
							<div class="col-sm-8 col-md-9 col-xl-10 col-12">
								<textarea id="reply_contents_input" rows="4" class="form-control" placeholder="댓글을 입력하세요" maxlength="2000"  required="required" style="resize: none;"></textarea>
							</div>
							<!-- /reply contents -->
							
						</div>
						<!-- /.card body -->
					</div>
					<!-- card -->
				</div>
			 </div>
			 <!-- Reply Register Area -->
			
		</div>
		<!-- /.Main Row -->
		
	
		<!-- Footer -->
		<div th:insert="~{fragments/footer::footer}"></div>
		
		<!-- hidden form for info -->
		<form id="action_form" class="d-none" method="GET">
			<input type="hidden" id="bno" name="bno" th:value="${board.bno}">
			<input type="hidden" id="encrypted_password" name="encrypted_password">
		</form>
		<!-- /hidden form -->
		

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalLongTitle">비밀번호</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input id="password" type="password" class="form-control" minlength="4" maxlength="4" required="required">
						<textarea id="contents_modifyReply" rows="4" class="form-control d-none" maxlength="2000" required="required" style="resize: none;" ></textarea>
					</div>
					<div class="modal-footer">
						<button id="btn_close" type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
						<button id="btn_ok" type="button" class="btn btn-primary">확인</button>
						<button id="modalBtn_modifyReply" type="button" class="btn btn-primary d-none">수정</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		
	</div>
	<!-- /.Container -->

	<!-- Boot Strap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>


	<!-- ReplyManager load -->
 	<script th:inline="javascript" th:src="@{/js/reply.js}"></script>
 	<!-- /ReplyManager load -->
 	
 	<!-- Format Date -->
 	<script th:inline="javascript" th:src="@{/js/formatDate.js}"></script>
 	<!-- Format Date -->
 	
 	<!-- print Reply -->
 	<script th:inline="javascript" th:src="@{/js/printReply.js}"></script>
 	<!-- /print Reply -->
	
	<!-- encryptPassword -->
 	<script th:inline="javascript" th:src="@{/js/encryptPassword.js}"></script>
 	<!-- /encryptPassword -->
	
	<!-- ModalAction.js -->
 	<script th:inline="javascript" th:src="@{/js/modalAction.js}"></script>
 	<!-- /ModalAction.js -->
	
	<!-- Reply List Load -->
	<script th:inline="javascript">
		$(document).ready(function (e) {
			
			replyManager.getAll([[${board.bno}]], function(reply_list) {
				printReply(reply_list);				
			});
		});
	</script>
	<!-- /Reply List Load -->
	
 	
	<script th:inline="javascript">
	$(document).ready(function() {
		var BASE_URI = '/findPet';			// findPet or "" 값을 가짐
		
		var action_form = $("#action_form");
		
		// 게시글 수정 버튼 클릭 이벤트
		$('#btn_modify').on('click', function() {
			showModal([[${board.bno}]], "board", "modify_board");
		});
		
		// 게시글 삭제 버튼 클릭 이벤트
		$('#btn_remove').on('click', function() {
			showModal([[${board.bno}]], "board", "remove_board");
		});

		// 댓글 수정 버튼 클릭 이벤트
		$(document).on('click', '#btn_modifyReply', function() {
			var rno = $(event.target.closest(".card-body")).data("id");	// 댓글 번호를 파악
			var contents = $(event.target.closest(".card-body")).children("#reply_contents").children().html();
			showModal(rno, "reply", "modify_reply", contents);
		});
		
		// 댓글 삭제 버튼 클릭 이벤트
		$(document).on('click', '#btn_removeReply', function(event) {
			var rno = $(event.target.closest(".card-body")).data("id");	// 댓글 번호를 파악
			showModal(rno, "reply", "remove_reply");
		});
		
		// 모달 확인 버튼 클릭 이벤트
		$('#btn_ok').on('click', function(event) {
			var password = $("#password");
			
			if(password.val().length != 4) {
				alert("비밀번호 4자리를 모두 입력해주세요");
				password.focus();
			} else {
				var type = $(event.target.closest(".modal-footer")).data("type");
				var id = $(event.target.closest(".modal-footer")).data("id");
				var mode = $(event.target.closest(".modal-footer")).data("mode");

				var result = encryptPassword(password.val(), id, type);
				
				// 비밀번호가 일치할 경우
				if(result != "false") {
					
					$("#encrypted_password").val(result);		
					
					switch(mode) {
					case "modify_board" :	// 게시글 수정
						$('#myModal').modal('hide');
						action_form.attr("action",  BASE_URI + "/board/modify");
						action_form.submit();
						break;
					case "remove_board" :	// 게시글 삭제	
						$('#myModal').modal('hide');
						action_form.attr("action", BASE_URI + "/board/remove");
						action_form.attr("method", "post");
						action_form.submit();
						break;
					case "modify_reply" :	// 댓글 수정
						var contents = $(event.target).data("contents");
						$(event.target.closest(".card-body")).children("#reply_contents").children().html();
					
						replyModifyModal("show");
						break;
					case "remove_reply" :	// 댓글 삭제
						replyManager.remove(id, function(list){
							$('#myModal').modal('hide');
							alert("댓글 삭제 완료");
							printReply(list);
						});
						break;
					}
				
				} else {
					password.val("");
					alert("비밀번호가 일치하지 않습니다");
					password.focus();
				}
			}
			
		});
		
		// 모달 취소 버튼 클릭 이벤트
		$('#btn_close').on('click', function() {
			replyModifyModal("hide");
		});
		
		
		// 댓글 수정 모달 버튼 클릭 이벤트
		$('#modalBtn_modifyReply').on('click', function(event) {
			var contents = $("#contents_modifyReply");
			var rno = $(event.target.closest(".modal-footer")).data("id");
			
			if(contents.val().length == 0) {
				alert("내용을 입력해주세요");
				 $("#contents_modifyReply").focus();
			} else {
				var reply = {bno : [[${board.bno}]], rno : rno, contents : contents.val()};
				
				replyManager.update(reply, function(reply_list){
					$("#reply_contents_input").val("");
					replyModifyModal("hide");
					alert("댓글 수정 완료");
					
					console.log("수정 완료 후 전달받은 댓글 목록 : " + reply_list);
					
					printReply(reply_list);
				});
				
			
			}
		});
		
		
		$('#btn_registerReply').on('click', function() {
			
			var nickname = $("#reply_nickname");
			var password = $("#reply_password");
			var contents = $("#reply_contents_input");
			
			if(nickname.val().length == 0) {
				alert("닉네임을 입력해주세요");
				nickname.focus();
				return false;
			}
			
			if(password.val().length != 4) {
				alert("비밀번호 4자리를 모두 입력해주세요");
				password.focus();
				return false;
			}
			
			if(contents.val().length == 0) {
				alert("내용을 입력해주세요");
				contents.focus();
				return false;
			}
			
			
			var bno = [[${board.bno}]];
		
			var reply = {bno : bno, nickname : nickname.val(), password : password.val(), contents : contents.val()};
			
			replyManager.add(reply, function(reply_list){
				alert("댓글 등록 완료");
				printReply(reply_list);
				
				$("#reply_contents_input").val("");
			});
		});
		
		
		
		
	});
	</script>
</body>
</html>


