<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE = edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="ContentTye" content="text/html; charset=utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<!-- Font CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/CSS/font.css}">
<!-- /Font CSS -->

<!-- Background CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/CSS/background.css}">
<!-- /Background CSS -->

<title>유기동물 검색</title>
</head>
<body>
	<div class="container-fluid d-flex flex-column min-vh-100">

	
		<!-- Header -->
		<div class="sticky-top">
			<div th:insert="~{fragments/header::header}"></div>
		</div>
		<!-- /Header -->		

		<!-- Main Row -->
		<div id="main_row" class="row p-3 d-flex justify-content-center align-items-center flex-row min-vh-80">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<span class="font-weight-bold h4">게시판</span>
							<a class="btn btn-primary btn-sm float-right" th:href="@{/board/register}"> 게시글 작성</a>
					</div>
					<div class="card-body table-responsive">
						<table class="table table-hover text-center">
							<thead>
								<tr>
									<th scope="col" style="width: 10%">번호</th>
									<th scope="col" style="width: 50%">제목</th>
									<th scope="col" style="width: 15%">닉네임</th>
									<th scope="col" style="width: 15%">작성일</th>
									<th scope="col" style="width: 10%">조회수</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="board : ${boards}">
									<td th:text="${board.bno}"></td>
									<td><a th:href='${board.bno}' th:text="${board.title + ' [' + board.reply_cnt + ']'}" class="boardLink"></a></td>
									<td th:text="${board.nickname}"></td>
									<td th:text="${#temporals.format(board.created_datetime, 'yyyy-MM-dd HH:mm')}"></td>
									<td th:text="${board.hit_cnt}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- card -->
			</div>
			<!-- col -->
		</div>
		<!-- /.Main Row -->
		
		<!-- paging 영역 -->
		<div class="col d-flex justify-content-center" style="min-height: 18vh;" >
			<ul id="pagination" class="pagination">
			</ul>
		</div>
		<!-- /.Paging -->	
	
		<!-- Footer -->
		<div th:insert="~{fragments/footer::footer}"></div>
		
		<!-- hidden form for info -->
		<form id="list_form" th:action="@{/board/list}" class="d-none">
			<input type="hidden" id="pageNum" name="pageNum" value="1">
		</form>
		<!-- /hidden form -->
		
		<!-- hidden form for info -->
		<form id="read_form" th:action="@{/board/get}" class="d-none">
			<input type="hidden" id="bno" name="bno">
		</form>
		<!-- /hidden form -->
		
		
	</div>
	<!-- /.Container -->

	<!-- Boot Strap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

	<!-- Pagination 출력 함수  -->
 	<script th:src="@{/js/makePagination.js}"></script>
 	<!-- /makePagination -->
 	
	<script th:inline="javascript">
	$(document).ready(function() {
		
		var pageDTO = [[${pageDTO}]];
		makePagination(pageDTO);
		
		if([[${isModified}]] && history.state == null) {
			alert("게시글 수정 완료");
			history.replaceState({}, null, null);
		}
		
		if([[${isRemoved}]] && history.state == null) {
			alert("게시글 삭제 완료");
			history.replaceState({}, null, null);
		}
		
		if([[${isRegistered}]] && history.state == null) {
			alert("게시글 등록 완료");
			history.replaceState({}, null, null);
		}
		
		$("#pagination").on("click", "a", function(e) { 
			event.preventDefault();
			var targetPage = $(this).attr("href");
			
			$("#pageNum").val(targetPage);
			$("#list_form").submit();
		});
		
		
		$(".boardLink").click(function(e) {
			e.preventDefault();
			
			var bno = $(this).attr("href");
			$("#bno").val(bno);
			$("#read_form").submit();
		});
	});
	</script>
</body>
</html>


