<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE = edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="ContentTye" content="text/html; charset=utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<style type="text/css">
@import
	url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
</style>

<title>유기동물 검색</title>
</head>
<body>
	<div class="container-fluid d-flex flex-column min-vh-100">

	
		<!-- Header -->
		<div class="sticky-top">
			<div th:insert="~{fragments/header::header}"></div>
		</div>
		<!-- /Header -->		

		<!-- Main Row -->
		<div id="main_row" class="row p-3 d-flex justify-content-center align-items-center flex-row min-vh-100">
			<div class="col-8">
				<div class="card">
					<div class="card-header">
						<span class="font-weight-bold h4">게시글 작성</span>
					</div>
					<div class="card-body">
						<form id="action_form" th:action="@{/board/modify}" method="post">
							<input type="hidden" id="bno" name="bno" th:value="${board.bno}">
							
							<div class="form-group">
								<label>닉네임</label>
								<p th:text="${board.nickname}" class="font-weight-bold"></p>
							</div>

							<div class="form-group">
								<label>제목</label> 
									<input type="text" class="form-control" id="title" name="title"	placeholder="제목" maxlength="30" required="required" th:value="${board.title}">
							</div>
							
							<div class="form-group">
								<label>내용</label> 
								<textarea class="form-control"id="contents" name="contents" rows="15" required="required" maxlength="3000" th:text="${board.contents}" style="resize: none;"></textarea>
							</div>
							
							<input id="btn_submit" class="btn btn-primary btn-block btn-lg" type="submit" value="수정">
						</form>
					</div>
				</div>
				<!-- card -->
			</div>
			<!-- col -->
		</div>
		<!-- /.Main Row -->
		
	
		<!-- Footer -->
		<div th:insert="~{fragments/footer::footer}"></div>
		
		<!-- hidden form for info -->
		<form id="action_form" th:action="@{/board/list}" class="d-none">
			<input type="hidden" id="pageNum" name="pageNum" value="1">
			<input type="hidden" id="encrypted_password" name="encrypted_password" th:value="${encrypted_password}">
		</form>
		<!-- /hidden form -->
		
		
		
	</div>
	<!-- /.Container -->

	<!-- Boot Strap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

	<!-- Pagination 출력 함수  -->
 	<script th:src="@{/js/makePagination.js}"></script>
 	<!-- /makePagination -->
 	
	<script th:inline="javascript">
	$(document).ready(function() {
		var BASE_URI = "/findPet";		// findPet 또는 "" 값을 가짐
		
		$('#btn_submit').on('click', function(e) {
			e.preventDefault();
			
			var encrypted_password = $("#encrypted_password").val();
			
			$.ajax({
				type : 'post',
				url : BASE_URI + '/api/check',
				data : JSON.stringify({"encrypted_password" : encrypted_password, "bno" : $("#bno").val()}),
				contentType : "application/json; charset=utf-8",
				success : function(result, status, xhr) {
					if(result == "false") {
						alert("잘못된 요청입니다");
					} else {
						$("#action_form").submit();						
					}
				},
				error: function(xhr, status, error) {
					console.log("비밀번호 비교 실패....");
				}
			});
		});
		
		
		
		
		
			
		console.log(encrypted_password);
	});
	</script>
</body>
</html>


