<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
	<footer class="row bg-dark">

		<div class="col-md-4 text-center py-3">
			<span class="text-muted">© 제 작 : </span> 
			<span class="text-white"> Jong Young Choi</span>
		</div>
		
		<div class="col-md-4 text-center py-3">
			<span class="text-muted">© 소스코드 : </span> 
			<a href="https://github.com/whddud102">
				<span>https://github.com/whddud102</span>
			</a>
		</div>

		<div class="col-md-4 text-center py-3">
			<span class="text-muted">© E-Mail : </span> 
				<span class="text-white"> whddud102@naver.com</span>
		</div>
		
	</footer>
	<!-- Footer -->
</div>
</html>